@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'leaflet/dist/leaflet.css';

body {
    @apply bg-gray-900 text-white min-h-screen;
    @apply text-white;
    font-family: 'Poppins', sans-serif;
}

@keyframes frag1 {
    0% { opacity: 0; transform: translateX(-60px) scale(0.9); }
    100% { opacity: 1; transform: translateX(0) scale(1); }
}
@keyframes frag2 {
    0% { opacity: 0; transform: translateY(-40px) scale(0.9); }
    100% { opacity: 1; transform: translateY(0) scale(1); }
}
@keyframes frag3 {
    0% { opacity: 0; transform: translateX(60px) scale(0.9); }
    100% { opacity: 1; transform: translateX(0) scale(1); }
}

@keyframes frag4 {
    0% { opacity: 0; transform: translateX(70px) scale(0.9); }
    100% { opacity: 1; transform: translateX(0) scale(1); }
}

.animate-frag-1 {
    animation: frag1 0.6s ease-out forwards;
}
.animate-frag-2 {
    animation: frag2 0.7s ease-out forwards;
    animation-delay: 0.1s;
}
.animate-frag-3 {
    animation: frag3 0.8s ease-out forwards;
    animation-delay: 0.2s;
}

.animate-frag-4 {
    animation: frag3 0.8s ease-out forwards;
    animation-delay: 0.3s;
}


@keyframes cardSpinEntry {
    0% {
        opacity: 0;
        transform: scale(0.3) rotateY(-720deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotateY(0deg);
    }
}

.animate-card-spin-entry {
    animation: cardSpinEntry 2s ease-out forwards;
    transform-style: preserve-3d;
}

 html, body {
     cursor: none;
 }



